<html>
    <head>
        <title>Enter the ED Readings details here</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
    <h1>Add EB details</h1>
        <form action='' method='post'>
            <label>Material Type :</label>
            <input type="text" name="name">
            <label>Material name:</label>
            <input type="text" name="material">
            <label>Measurement:</label>
            <input type="text" name="measurement">
            <label>Description:</label>
            <input type="text" name="description">
            <input type='submit' value='save details'>
        </form>
    </body>
</html>