<html>
    <head>
        <title>Flask Tutorial</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"
    </head>
    <body>
    <h1>Add user details</h1>
        <form action='' method='post'>
            <label>Name:</label>
            <input type="text" name="NAME">
            <label>Advance:</label>
            <input type="text" name="Advance">
            <label>EB Number:</label>
            <input type="text" name="EB_Number">
            <input type='submit' value='save details'>
        </form>
    </body>
</html>