<html>
    <head>
        <title>TENENTS</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"
    </head>

    <body>
        <h1>Tenant Details</h1>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Advance</th>
                <th>EB Number</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
            {% for data in datas %}
                <tr>
                    <td>{{data.ID}}</td>
                    <td>{{data.NAME}}</td>
                    <td>{{data.Advance}}</td>
                    <td>{{data.EB_Number}}</td>
                    <td><a href="{{url_for('edituser',id=data.ID)}}">Edit</a></td>
                    <td><a onclick="return confirm('Are you sure to delete {{data.NAME}}?');" href="{{url_for('deleteuser',id=data.ID,table='Tenants')}}">Delete</a></td>
                </tr>
            {% endfor %}    
        </table>